@model CrudFornecedores.Models.Fornecedor;

@{
	ViewData["Title"] = "Detalhes";
}

<style>
	h1 {
		text-align: center;
	}
</style>

<h1>Detalhes do Fornecedor</h1>
<h4></h4>
<hr />

<br />
<dl class="row row-space">
	<div class="col-6">

		<div class="col-6">
	<dt class="col-sm-3">
				@Html.DisplayNameFor(model => model.Nome)
	</dt>
	<dd class="col">
				@Html.DisplayFor(model => model.Nome)
	</dd>
	</div>


	<div class="col-6">
	<dt class="col-sm-3">
				@Html.DisplayNameFor(model => model.Cnpj)
	</dt>
	<dd class="col-sm">
				@Model.Cnpj.ToString(@"00\.000\.000\/0000\-00")
	</dd>
	</div>


	<div class="col-12 mt-2">
	<dt class="col-sm-3">

				@Html.DisplayNameFor(model => model.Especialidade)
	</dt>
	<dd class="col-sm">
				@Html.DisplayFor(model => model.Especialidade)
	</dd>
	</div>

	<div class="col-12 mt-2">
	<dt class="col-sm-3">

				@Html.DisplayNameFor(model => model.Id)
	</dt>
	<dd class="col-sm">
				@Html.DisplayFor(model => model.Id)
	</dd>
	</div>

</dl>
<div>
	<a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model?.Id">Editar</a>

	<br />

	<a asp-action="Index">Voltar a lista</a>
</div>
